* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;

    }
    /* Header */
    .fr{
        color: #888591;
    }
    .tr{
        background: linear-gradient(90deg, #8441d5,#0d7ad5);
        border: 2px;
        padding: 10px;
        color: #ffffff;
        border-radius: 5px;
    }
    .cabeza{
        padding: 0px 150px;
        background-color: #1e172f;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav a{
        color: white;
        padding: 0px 15px;
        margin: 30px;
        text-decoration: none;
    }
    /* Fin header */
    /* Inicio  */
    .inicio{
        justify-content: space-between;
        display: flex;
        width: 100%;
    }
    .enfe {
        line-height: 1.6;
        width: 50%;
        background-color: #2e2550;
        color: #ffffff;
        padding: 0px 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .enfe h1 {
        font-size: 70px;
    }
    .enfe p {
        margin-top: 25px;
        font-size: 18px;
        width: 400px;
    }
    button {
        color: #ffffff  ;
        padding: 12px 20px;
        font-weight: bold;
        font-size: 14px;
    }
    .button{
        width: 160px;
        padding: 3px;
        gap: 10px;
        margin: 10px 0 0 0;
        display: flex;
        width: fit-content;
        border: 2px solid#585173;
        border-radius: 5px;
    }
    .colort{
        background: linear-gradient(90deg, #FA4A54, #DA0170);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .colo{
        width: 150px;
        border-radius: 5px;
        background: #2e2550;
        color: #ffffff;
        border-color: #ffffff;
    }
    .col{
        width: 190px;
    }
    .jhd{
        align-content: center;
        padding: 0px 190px;
        width: 50%;
        background: linear-gradient(rgba(57, 44, 70, 0.5), rgba(57, 44, 70, 0.5)), url(../assets/images/hojasFondo.jpg);
        background-size: cover;
    }
    .jhd img{
        height: 70%;
    }
    /* Fin Inicio */

    /* Terce */
    .terce{
        justify-content: center;
    }
    .segundo{
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }
    .img{
        display: flex;
        justify-content: flex-end;
        width: 60%;
        padding: 0 70px 0 0;
    }
    .terce img{
        width: 60%;
    }

    .infor{
        padding: 0 60px;
        width: 50%;
    }

    .terce h2{
        margin: 30px 0 ;
        background: #f41486;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: 60px;
        width: 20px  0 0 0;
    }

    .yt{
        font-size: 40px;
        background: linear-gradient(90deg, #c5558e, #c91972);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .infor h4{
        font-size: 20px;
        background: #ee3192;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /* Fin terce */

    /* Diseño planes  */
    .otr{
        background-color: #1e172f;
    }
    .otr h1 {
        text-align: center;
        font-size: 80px;
        color: #ffffff;
    }
    .a {

        color: #ee3192;
    }
    .b{
        color: #282240;
    }
    .c{
        color: #3f3f3f;
    }
    .features li{
        margin: 10px;
        display: flex;

    }
    .features li i{
        text-align: left;
    }
    .features li span{
        text-align: center;
        margin: 0 auto;

    }

    .hhh {
        text-align: center;
        color: #bfbdc3;
        margin: 10px auto;
        max-width: 800px;
    }
    /* Color de emojis */
    .y{
        color:rgb(247, 6, 126);
    }

    .pricing-container {
        background-color: #1e172f;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 30px 10%;
    }
    .dfjsdf{
        background: #ee3192;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fa-regular{
        color: #f41486;
    }

    .plan {
        background-color: white;
        border-radius: 10px;
        text-align: center;
        width: 280px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        color: #333;
        overflow: hidden;
    }

    .plan h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .plan h2 img {
        width: 20px;
        margin-right: 5px;
    }

    .price {
        background: #f5f5f5;
        font-size: 32px;
        margin: 15px 0;
        color: #1d0e3f;
        width: 100%;
    }

    .price small {
        font-size: 14px;
        color: gray;
    }

    .features {
        list-style: none;
        margin: 20px 0 ;
    }

    .colorr{
        background-color: #f5f5f5;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 8px;
        border: none;
        background: linear-gradient(90deg, #ec66ab, #f41687);
    }

    .subscribe {
        background-color: #2e2550;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;

    }
    .trrrr{
         margin-top: 15px;
        background: #dbd9d9;
        padding: 10px;
    }
    
    .color {
        color: #ff2e88;
    }

    .colors {
        color: #1d0e3f;
    }

    /* Fin planes */

    /* Diseño footer */
    footer {
        background-color: #ffffff;
        padding: 30px 10%;
        color: #000000;
    }

    footer .letra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    footer .colorrr {
        color: #f41486;
    }

    .iconos img {
        width: 25px;
        margin-left: 15px;
    }
   
    .uuu{
        display: flex;
    }
    